#display{
font-size: 20px;
width: 97%;
color: rgb(218, 133, 28);
}


#calculator{
  width: 300px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 15px 18px;
  color: rgb(218, 133, 28);
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  width: 45px;
  color:rgb(255, 237, 214);
  background-color: rgb(91, 5, 5);
  border: none;
  border-radius: 6px;
  height: 45px;
  margin: 5.6px;
}